<!DOCTYPE html>
<html>
    <%- include('includes/head', {title:`ERROR - ${error.status}` , scripts:[]}); %>

    <body>
        <%- include('includes/header', {
            player: (typeof player !== 'undefined' ? player : null ),
            data:   (typeof data   !== 'undefined' ? data : {} ),
        }); %>

        <main class="content">
            <h1><%= message %></h1>
            <h2><%= error.status %></h2>
        </main>
        <%- include('includes/footer'); %>

        <pre><%= error.stack %></pre>

    </body>
</html>