<!DOCTYPE html>
<html>
    <%- include('includes/head', {title:`ERROR - ${error.status}` , scripts:[]}); %>

    <body>
        <%- include('includes/header', {
            player: (typeof player !== 'undefined' ? player : null ),
            pageData:   (typeof pageData   !== 'undefined' ? pageData : {} ),
        }); %>

        <main>
            <h1><%= message %></h1>
            <h2><%= error.status %></h2>
        </main>
        <%- include('includes/footer'); %>

        <pre><%= error.stack %></pre>

    </body>
</html>