<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - <%= game.gameName %></title>
    <link rel='stylesheet' href='/stylesheets/base.css' />

  </head>
  <body>

    <h1><a href="/"><%= title %></a></h1>
    <h2><%= game.gameName %>, GM: <%= game.masterPlayer.playerName %></h2>

    <meta id="gameMeta" gameMasterId="<%= game.masterPlayer.playerId %>" gameId="<%= game.gameId %>"/>
    <div id="app"></div>

    <script src="/javascripts/app.js"></script>
  </body>
</html>
