<!DOCTYPE html>
<html>
  <%- include('includes/head', {title:`${title} - ${game.gameName}` , scripts:['gamepage.js']}); %>

  <body>

    <%- include('includes/header', {
      player: (typeof player !== 'undefined' ? player : null ),
      data:   (typeof data !== 'undefined' ? data : {} ),
    }); %>

    <main class="content">
      <% if (!gmView) { %>
        <p>GM: <%= game.masterPlayer.playerName %></p>
        <meta id="gameMeta" 
        gameMasterId="<%= game.masterPlayer.playerId %>" 
        gameMasterName="<%= game.masterPlayer.playerName %>" 
        gameId="<%= game.gameId %>" 
        gameName="<%= game.gameName %>" 
        myStatus="player"/>
      <% } else { %>
        <meta id="gameMeta" 
        gameMasterId="<%= game.masterPlayer.playerId %>" 
        gameMasterName="<%= game.masterPlayer.playerName %>" 
        gameId="<%= game.gameId %>" 
        gameName="<%= game.gameName %>" 
        myStatus="GM"/>
      <% } %>

      <div id="app"></div>
    </main>

    <%- include('includes/footer'); %>


  </body>
</html>
