<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - <%= game.gameName %></title>
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <%- include('includes/header'); %>

    <main class="content">
      <% if (!gmView) { %>
        <p>GM: <%= game.masterPlayer.playerName %></p>
        <meta id="gameMeta" 
        gameMasterId="<%= game.masterPlayer.playerId %>" 
        gameMasterName="<%= game.masterPlayer.playerName %>" 
        gameId="<%= game.gameId %>" 
        gameName="<%= game.gameName %>" 
        myStatus="player"/>
      <% } else { %>
        <meta id="gameMeta" 
        gameMasterId="<%= game.masterPlayer.playerId %>" 
        gameMasterName="<%= game.masterPlayer.playerName %>" 
        gameId="<%= game.gameId %>" 
        gameName="<%= game.gameName %>" 
        myStatus="GM"/>
      <% } %>

      <div id="app"></div>
    </main>

    <%- include('includes/footer'); %>

    <script src="/javascripts/game-app.js"></script>
  </body>
</html>
