<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/base.css' />

  </head>
  <body>

    <h1><%= title %></h1>

    <h2>Games running:</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Game Master</th>
      </tr>
      <% games.forEach(function(game){ %>
        <tr>
          <td><a href="/game/<%= game.gameName %>"><%= game.gameName %></a></td>
          <td><%= game.masterPlayer.playerName %> </td>
        </tr>
      <% }); %>
    </table>

  </body>
</html>
