<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <script src="/javascripts/homepage.js"></script>
  </head>
  <body>

    <h1><%= title %></h1>

    <!-- TO DO - live updates on the table. VUE app using socket? -->
    <h2>Games running:</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Game Master</th>
      </tr>
      <% games.forEach(function(game){ %>
        <tr>
          <td><a href="/game/<%= game.gameName %>"><%= game.gameName %></a></td>
          <td><%= game.masterPlayer.playerName %> </td>
        </tr>
      <% }); %>
    </table>

    <h2>Create new Game</h2>

    <form data-role="create-game-form" method="POST">
      <div>
        <label>Game Master's Name:</label>
        <input name="gmName" id="gmName" type="text"/>
      </div>
      <div>
        <label>Game Name:</label>
        <input name="gameName" id="gameName" type="text"/>
      </div>
      <div>
        <label>What game are you playing?</label>
        <input name="rpgName" id="rpgName" type="text"/>
      </div>
      <input type="submit"/>
    </form>

  </body>
</html>
